<?xml version="1.0"?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="D:\WebLogs\CompanyProfile\CompanyProfile-api.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <preserveLogFileNameExtension value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="%date [%thread] %level %20.25logger - %message%newline%exception" />
    </layout>
  </appender>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="Debug" type="log4net.Appender.OutputDebugStringAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="Esb" type="ASI.Services.Logging.EsbLogAppender, ASI.Services.Logging">
    <applicationCode value="CompanyProfile.Web"></applicationCode>
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="%date [%thread] %level %20.25logger - %message%newline%exception" />
    </layout>
  </appender>
  <root>
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="Esb" />
    <appender-ref ref="Console" />
    <appender-ref ref="Debug" />
    <level value="ALL" />
  </root>
</log4net>