<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EsbConnectionString" value="host=localhost;username=guest;password=guest;prefetchcount=5;" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="D:\Websites\product-collections\src\CompanyProfile.Web.Api\bin\Debug\netcoreapp3.1\CompanyProfile.Web.Api.exe" arguments="" stdoutLogEnabled="false" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>